{{define "external_pkg_models"}}
    package models

    import (
    //   imports are:

    proto "{{PackageURL}}/{{PkgNameUC}}/models"

    )

     type {{PkgNameUC}} struct{
        {{ range PkgModels}} {{ . }}
            {{end}}
    }

    func {{PkgNameUC}}FromProto(pb *proto.{{ProtoName}}) *{{PkgNameUC}}{


    }



    func {{PkgNameUC}}ToProto(){}


{{end}}