{{define "handler_main"}}
package handlers
import (
// imports are placed automatically
    ops "{{PackageURL}}/{{OperationsPath}}"
)

    type {{OperationIDlc}} struct {

    }

    func (g *{{OperationIDlc}}) Handle(params ops.{{OperationIDuc}}Params) middleware.Responder {

    }

{{end}}