{{define "handler_main"}}
package handlers
import (
// imports are placed automatically
)

    type {{OperaIDlc}} struct {

    }

    func (g *{{OperaIDlc}}) Handle(params ops.{{OperaIDuc}}Params) middleware.Responder {

    }

{{end}}