{{define "handler_main"}}
package handlers
import (
// imports are placed automatically
    "github.com/go-openapi/runtime/middleware"

    ops "{{PackageURL}}/{{OperationsPath}}"
)
    func New{{OperationIDlc}}() *{{OperationIDlc}}{
        return &{{OperationIDlc}}{}
    }
    type {{OperationIDlc}} struct {

    }

    func (g *{{OperationIDlc}}) Handle(params ops.{{OperationIDuc}}Params) middleware.Responder {

    }

{{end}}